<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="mars_data">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h6>{{data.news_title}}</h6>
        <small>{{data.news_p}}</small>
      </div>
    </div>
    <hr class="my-3">
    <div>
      <div class="col-md-12">
        <h2 class="heading">Featured Mars Image</h2>
        <p>{{data.img_title}}</p>
        <img src="{{data.featured_image_url}}" class="img-fluid" alt="Featured Image">
      </div>
    </div>
    <hr class="my-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="rounded">
          <h3>Current Weather on Mars</h3>
          <p>{{data.mars_weather}}</p>
        </span>
      </div>
    </div>
    <hr class="my-3">
    <div class="table">
      <div class="col-md-12">
        <h3>Mars Facts</h3>
        {{data.html_table|safe}}
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <section>
          <h2>Mars Hemispheres</h2>
          <hr class="my-3">
          {% for i in data.hemisphere_image_urls %}
          <a href="{{i.img_url}}">
            <img src="{{i.img_url}}" class="img-fluid img-responsive" alt="{{i.title}}" width="350" height="350">
          </a>
          <h5>{{i.title}}</h5>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>

</html>
